:root {
    --margin--section: 5%;
    --margin--body: 0;

    --height--header: 6rem;
}

@media only screen and (min-width: 360px) {
    :root {
        --margin--section: 5%;
        --margin--body: 0;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --margin--section: 0%;
        --margin--body: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --margin--section: 30%;
        --margin--body: 30%;
    }
}
