:root {
    --body--margin: 5%;
    --section--padding: 0 0;
    --height--header: 6rem;
    --flex-item___width: 100%;
    --flex-item___top-spacing: 5vh;
    --flex-item___alignment: center;
}

@media only screen and (min-width: 360px) {
    :root {
        --body--margin: 15%;
    }
}

@media only screen and (min-width: 640px) {
    :root {
        --body--margin: 15%;
        --section--padding: 0 12%;
        --flex-item___width: 50%;
        --flex-item___alignment: left;
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --body--margin: 30%;
    }
}