:root {
    --color--text: #181A18;
    --color--text__theme: #86c232;
    --color--text__highlight: #86c232;
    --color--text__header: rgb(170, 170, 170);
    
    --color--background: #F9FFFF;
    --color--navbar: #bbffcf;

    --color--text__link: #86c232;
    --color--text__active-link: #86c232;
    --color--text__visited: #86c232;
}





/* --color--text__theme: #61892f; */