@import "index.css";

:root {
    --transition-standard: 0.5s ease-in;
}

html {
    overflow-y: hidden;
}

body {
    background-color: var(--color--background);
}

section {
    position: relative;
    margin-left: var(--body--margin);
    margin-right: var(--body--margin);
}

p,
h3 {
    color: var(--color--text);
}

h2 {
    /* font: bold 12px Sans-Serif; */
    font-size: 2rem;
    white-space: nowrap;
    text-align: left;
    letter-spacing: 10px;
    text-transform: uppercase;
    /* background: #369; */
    color: var(--color--text___header);

    top: var(--flex-item___top-spacing);
    /* left: max(30px, calc(var(--body--margin) / 3)); */
    left: -5%;

    position: absolute;

    transform-origin: 0 0;
    transform: rotate(90deg);
}

a {
    color: var(--color--text___link);
    transition: var(--transition-standard);
}

a:hover {
    color: var(--color--text___link-hover);
}

a:active {
    color: var(--colorTheme);
}

/* #logo {
    height: 92px;
} */
