@import "index.css";

html {
    overflow-y: hidden;
}

body {
    background-color: var(--color--background);
}

section {
    margin-left: var(--margin--body);
    margin-right: var(--margin--body);
}

a:link,
a:hover {
    color: var(--color--text__theme);
}

a:visited {
    color: var(--color--text__visited);
}

a:active {
    color: var(--colorTheme);
}

/* #logo {
    height: 92px;
} */