@import "../assets/css/index.css";

.wrapper {
    margin-left: var(--margin--body);
    margin-right: var(--margin--body);

    height: calc(100vh - var(--height--header));

    display: flex;
}

.content {
    padding-top: 20vh;
}
