@import "../assets/css/index.css";
.wrapper {
    margin-left: var(--body___margin);
    margin-right: var(--body___margin);
    padding: var(--section___padding);
    height: calc(100vh - var(--height___header));
    display: flex;
}

.Content {
    padding-top: var(--flex-item___top-spacing);
    width: 100%;
}

.FlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.FlexBox_flexItem___column {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.FlexBox_flexItem___left {
    text-align: var(--flex-item___alignment);
    width: var(--flex-item___width);
}

.FlexBox_flexItem___right {
    display: flex;
    flex-wrap: wrap;
    width: var(--flex-item___width);
    justify-content: center;
    align-items: center;
}

.Card___small {
    /* border: 1px solid var(--color--text___theme); */
    padding: 3px;
    margin: 0px 5px 2px 5px;
    /* box-shadow: 1px 2px 1.5px #888888; */
    text-align: center;
    color: var(--color--text);
}
