@import "../assets/css/index.css";

.content {
    margin-left: var(--margin--section);
    margin-right: var(--margin--section);

    height: calc(100vh - var(--height--header));

    display: flex;
    align-items: center;
}
